@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Rubik", sans-serif;
  /* font-family: 'Rubik Mono One', sans-serif; */
  background-image: linear-gradient(#41047ec5, #0ecc86d0);
  color: white;
  min-height: 100vh;
}
h1 {
  font-family: "Rubik Mono One", sans-serif;
  color: white;
  text-align: center;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
  -webkit-box-shadow: 10px 10px 89px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 89px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 89px -14px rgba(0, 0, 0, 0.75);
}

form input,
form button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background: white;
  margin-top: -40px;
}

form button {
  margin-left: -10px;
  color: #41047e;
  background: #0ecc86;
  transition: all 0.3s ease;
}

form button:hover {
  color: #0ecc86;
  background: #41047e;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #41047ec5;
  color: #fff;
  border: none;
  padding: 1rem;
}

.complete-btn {
  background: #0ecc86;
}

.todo-item {
  padding: 0rem 0.9rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  transition: all 0.5s ease;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: #41047e;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  top: -20px;
  /* font-size: 2rem; */
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #0ecc86;
  top: 0;
  right: 0;
  color: #41047e;
  padding: 1rem;
}
